# Entornos virtuales
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc

# Bases de datos locales (¡No se suben a GitHub por seguridad!)
*.db

# Archivos de entorno (contraseñas, secretos)
.env
.env.local

# Cache de pytest
.pytest_cache/

# Modelos placeholder vacíos generados en tiempo de ejecución
microservicio_ml_ws/model.pkl